.nav {
  display: none;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .nav {
    z-index: 2;
    cursor: auto;
    display: inline;

    .navbar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      background: #0b0977;

      .menu_toggle {
        backdrop-filter: blur(20px);
        padding: 15px;
        width: 95%;
        margin: auto;
        border-radius: 0%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-size: 25px;
        font-weight: 600;
        .humburger {
          width: 35px;
          height: 35px;
        }
        .ISMS {
          display: flex;
          align-items: center;
          margin-right: -150px;
          img {
            width: 70px;
            height: 70px;
            margin-right: 10px;
          }
        }
        .caze {
          position: relative;
   
   
        }
        .mobISMS {
          display: none;
        }
        .mobcaze {
          display: none;
        }
      }
    }

    .nav_overlay {
      position: fixed;
      // background-color: #000000;
      // background-color: #0000;
      background-image: linear-gradient(147deg, #040410, #312fbb);

      backdrop-filter: blur(40px);
      overflow-y: auto !important;
      z-index: 22;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      padding: 4em;
      transition:
        transform 1s cubic-bezier(1, 0, 0, 6),
        all 1s,
        -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
      transition-timing-function: 1.5s cubic-bezier(0.16, 1.08, 0.38, 0.98);
      display: flex;
      .nav_links {
        display: none;
      }
      .nav_linksMob {
        position: relative;
        top: 40px;
        min-height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        // padding-top: 45%;
        text-align: center;
        overflow-y: auto;
        height: 100%;

        .nav_item {
          list-style: none;
          position: relative;
          display: flex;
          align-items: center;

          span {
            text-decoration: none;
            color: #fff;
            font-size: 45px;
            position: relative;
            top: 0;
            transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
            .ISMS {
              display: flex;
              align-items: center;
              margin-left: 20px;
              margin-bottom: 20px;
              img {
                width: 70px;
                height: 70px;
                margin-right: 10px;
              }
            }
            .content {
              display: flex;
              flex-direction: column;
              padding-top: 10px;
              text-align: center;

              .singleItem {
                height: 70px;
                display: flex;
                align-items: center;
                color: #fff;
                cursor: pointer;
                border-radius: 10px;
                margin-top: 3px;
                margin-bottom: 3px;
                transition: all 0.3s ease-in;
                text-transform: uppercase;
                padding-right: 30px;

                &:hover {
                  background-color: #7c65ff;
                  color: #fff;
                  .icon {
                    svg {
                      path {
                        stroke: #fff;
                      }
                    }
                  }
                }
                .icon {
                  margin-left: 20px;
                  svg {
                    path {
                      stroke: #fff !important;
                    }
                  }
                }
                .iconSelect {
                  svg {
                    path {
                      stroke: #fff !important;
                    }
                  }
                }

                .text {
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 18px;
                  margin-left: 40px;
                }
              }
              .selectedItem {
                background-color: #7c65ff;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .nav {
    z-index: 2;
    cursor: auto;
    display: inline;

    .navbar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      background: #0b0977;

      .menu_toggle {
        backdrop-filter: blur(20px);
        padding: 15px;
        width: 95%;
        margin: auto;
        border-radius: 0%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-size: 25px;
        font-weight: 600;
        .humburger {
          width: 35px;
          height: 35px;
        }
        .ISMS {
          display: none;
        }
        .caze {
          display: none;
        }
        .mobISMS {
          display: block;
        }
        .mobcaze {
          display: block;
          
        }
      }
    }

    .nav_overlay {
      position: fixed;
      // background-color: #000000;
      // background-color: #0000;
      background-image: linear-gradient(147deg, #040410, #312fbb);

      backdrop-filter: blur(40px);
      z-index: 22;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      padding: 4em;
      transition:
        transform 1s cubic-bezier(1, 0, 0, 6),
        all 1s,
        -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
      transition-timing-function: 1.5s cubic-bezier(0.16, 1.08, 0.38, 0.98);
      display: flex;
      .nav_links {
        display: none;
      }
      .nav_linksMob {
        position: relative;
        // top: 20%;
        min-height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 135%;
        text-align: center;

        .nav_item {
          list-style: none;
          position: relative;
          margin-top: 300px;
          span {
            text-decoration: none;
            color: #fff;
            font-size: 45px;
            position: relative;
            top: 0;
            transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
            .ISMS {
              display: flex;
              align-items: center;
              margin-left: 20px;
              margin-bottom: 20px;
              img {
                width: 70px;
                height: 70px;
                margin-right: 10px;
              }
            }
            .content {
              display: flex;
              flex-direction: column;
              padding-top: 10px;
              text-align: center;

              .singleItem {
                height: 70px;
                display: flex;
                align-items: center;
                color: #fff;
                cursor: pointer;
                border-radius: 10px;
                margin-top: 3px;
                margin-bottom: 3px;
                transition: all 0.3s ease-in;
                text-transform: uppercase;

                &:hover {
                  background-color: #7c65ff;
                  color: #fff;
                  .icon {
                    svg {
                      path {
                        stroke: #fff;
                      }
                    }
                  }
                }
                .icon {
                  margin-left: 20px;
                  svg {
                    path {
                      stroke: #fff !important;
                    }
                  }
                }
                .iconSelect {
                  svg {
                    path {
                      stroke: #fff !important;
                    }
                  }
                }

                .text {
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 18px;
                  margin-left: 40px;
                }
              }
              .selectedItem {
                background-color: #7c65ff;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
