.nav {
display: none;
  }
@media only screen and (max-width: 1640px) {

.nav {
    z-index: 2;
    cursor: auto;
    display: inline;
  
    .navbar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      .menu_toggle {
        background-color: #2b2b2b;
        backdrop-filter: blur(20px);
        border-bottom: 1px solid #b8b8b8de;
        padding: 15px;
        width: 100%;
        border-radius:0%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #b8b8b8de;
        font-weight: 600;
        img {
            width: 25px;
            height: 25px;
        }


      }
    }
  
    .nav_overlay {
      position: fixed;
      // background-color: #000000;
      // background-color: #0000;
      background-image: linear-gradient(147deg, #454545ba, #2b2b2bc4);

      backdrop-filter: blur(40px);
      z-index:22;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      padding: 4em;
      transition: transform 3s cubic-bezier(1, 0, 0, 6), all 1s,
      -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
    transition-timing-function:3s cubic-bezier(0.16, 1.08, 0.38, 0.98);
    display:flex ;
    .nav_linksMob {
        display: none;
    }
      .nav_links {
        position: relative;
        // top: 20%;
        min-height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-right: 20%;
        padding-top:20%;
  
        .nav_item {
          list-style: none;
          position: relative;
          margin-top: 300px;
          span {
            text-decoration: none;
            color: #fff;
            font-size: 45px;
            position: relative;
            top: 0;
            transition: all 6s cubic-bezier(0.16, 1, 0.3, 1);
            text-transform: uppercase;
            .content {
              display: flex;
              flex-direction: column;
              padding-top: 10px;
              .singleItem {
                height: 70px;
                display: flex;
                align-items: center;
                color: #bebebe;
                cursor: pointer;
                border-radius: 10px;
                margin-top: 3px;
                margin-bottom: 3px;
                transition: all 0.3s ease-in;
                &:hover {
                    background-color: #55d3c0;
                    color: #fff;
                    .icon {
                      svg {
                        path {
                          stroke: #fff;
                        }
                      }
                    }
                  }
                .icon {
                  margin-left: 20px;
                  svg {
                    path {
                      stroke: #fff !important;
                    }
                  }
                }
                .iconSelect {
                    svg {
                      path {
                        stroke: #fff !important;
                      }
                    }
                  }
                .iconDisabled {
                  svg {
                    path {
                      stroke: #8a8a8a !important;
                    }
                  }
                }
          
                .text {
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 18px;
                  margin-left: 40px;
                }
              }
              .selectedItem {
                color: #fff;
                background-color: #55d3c0;

              }
              .disabled {
                color: #626262;
                cursor: not-allowed;
                &:hover {
                    background-color: transparent;
                    color: #626262;
                  }
              }
         
            }
            
          }
        }
      }
  
    }
  }
}
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .nav {
        z-index: 2;
        cursor: auto;
      
        .navbar {

          .menu_toggle {
       
            padding: 15px;

            height: 60px;
 
            img {
                width: 25px;
                height: 25px;
            }
    
    
          }
        }
      
        .nav_overlay {
          position: fixed;
          // background-color: #000000;
          // background-color: #0000;
          background-image: linear-gradient(147deg, #454545ba, #2b2b2bc4);
    
          backdrop-filter: blur(20px);
          z-index:22;
          top: -100%;
          left: 0;
          width: 100%;
          height: 100vh;
          overflow: hidden;
          padding: 4em;
          transition: transform 3s cubic-bezier(1, 0, 0, 6), all 1s,
          -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
        transition-timing-function:3s cubic-bezier(0.16, 1.08, 0.38, 0.98);
        display:flex ;
        flex-direction: column;
        .nav_links {
            display: none;
        }
          .nav_linksMob {
            position: relative;
            // top: 20%;
            min-height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding-top:45%;
            text-align: center;
      
            .nav_item {
              list-style: none;
              position: relative;
              margin-top: 300px;
              span {
                text-decoration: none;
                color: #fff;
                font-size: 45px;
                position: relative;
                top: 0;
                transition: all 6s cubic-bezier(0.16, 1, 0.3, 1);
                text-transform: uppercase;
                .content {
                  display: flex;
                  flex-direction: column;
                  padding-top: 10px;
                  text-align: center;

                  .singleItem {
                    height: 70px;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    cursor: pointer;
                    border-radius: 10px;
                    margin-top: 3px;
                    margin-bottom: 3px;
                    transition: all 0.3s ease-in;
                
                    .icon {
                      margin-left: 20px;
                      svg {
                        path {
                          stroke: #fff !important;
                        }
                      }
                    }
                    .iconSelect {
                      svg {
                        path {
                          stroke: #fff !important;
                        }
                      }
                    }
                    .iconDisabled {
                      svg {
                        path {
                          stroke: #8a8a8a !important;
                        }
                      }
                    }
              
                    .text {
                      font-family: Arial, Helvetica, sans-serif;
                      font-size: 18px;
                      margin-left: 40px;
                    }
                  }
                  .selectedItem {
                    background-color: #55d3c0;
                    color: #fff;
                  }
                  .disabled {
                    color: #626262 !important;
                    cursor: not-allowed;
                  }
             
                }
                
              }
            }
          }
      
        }
      }
  }
  @media only screen and (min-width: 320px) and (max-width: 600px) {
    .nav {
        z-index: 2;
        cursor: auto;
      
        .navbar {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
        }
      
        .nav_overlay {
          position: fixed;
          // background-color: #000000;
          // background-color: #0000;
          background-image: linear-gradient(147deg, #454545ba, #2b2b2bc4);
    
          backdrop-filter: blur(20px);
          z-index:22;
          top: -100%;
          left: 0;
          width: 100%;
          height: 100vh;
          overflow: hidden;
          padding: 4em;
          transition: transform 3s cubic-bezier(1, 0, 0, 6), all 1s,
          -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
        transition-timing-function:3s cubic-bezier(0.16, 1.08, 0.38, 0.98);
        display:flex ;
        flex-direction: column;
        .nav_links {
            display: none;
        }
          .nav_linksMob {
            position: relative;
            // top: 20%;
            min-height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding-top:105%;
            text-align: center;
            scale: .8;
      
            .nav_item {
              list-style: none;
              position: relative;
              margin-top: 300px;
              span {
                text-decoration: none;
                color: #fff;
                font-size: 45px;
                position: relative;
                top: 0;
                transition: all 6s cubic-bezier(0.16, 1, 0.3, 1);
                text-transform: uppercase;
                .content {
                  display: flex;
                  flex-direction: column;
                  padding-top: 10px;
                  text-align: center;

                  .singleItem {
                    height: 70px;
                    display: flex;
                    align-items: center;
                    color: #bebebe;
                    cursor: pointer;
                    border-radius: 10px;
                    margin-top: 3px;
                    margin-bottom: 3px;
                    transition: all 0.3s ease-in;
                
                    .icon {
                      margin-left: 20px;
                      svg {
                        path {
                          stroke: #fff !important;
                        }
                      }
                    }
                    .iconDisabled {
                      svg {
                        path {
                          stroke: #8a8a8a !important;
                        }
                      }
                    }
              
                    .text {
                      font-family: Arial, Helvetica, sans-serif;
                      font-size: 18px;
                      margin-left: 40px;
                    }
                  }
                  .selectedItem {
                    color: #fff;
                  }
                  .disabled {
                    color: #626262;
                    cursor: not-allowed;
                  }
             
                }
                
              }
            }
          }
      
        }
      }
  }