@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  overflow-x: hidden;
}

.commentsMain {
  display: flex;
  flex-direction: column;
  align-items: flex-stsrt;
  border: 1.5px solid #000;
  width: 90vw;
  padding:20px;
  border-radius:20px;
  background-color: #b0dfff40;
  border: 1px solid rgba(255, 255, 255, 0.25); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.singleComment {
  text-align:left;
}
.spinnerLoader {
  display: flex;
  align-items: center;
  justify-content:center;
  height:60vh;
  scale:3;
  
}

.pagenation {
  display: flex;
  justify-content: center;
}
