.main {
    display: flex;
    width: 100%;
    .rightSide {
        width: calc(100vw - 440px);
        position: absolute;
        right: 0;
        background-color: #f6f6ee;
        height:100vh;

    }
}
@media only screen and (max-width: 1640px) {
    .main {

        .rightSide {
            width: 100%;
            height: -webkit-fill-available;
            margin-top: 80px;


        }
    }
}