.main {
    display: flex;
    width: 100%;
    .rightSide {
        width: calc(100vw - 440px);
        position: relative;
        right: 0;
        background-color: #f6f6ee;
        right: 0;
        top: 0;
        
        position: absolute;

    }
}
@media only screen and (max-width: 1640px) {
    .main {

        .rightSide {
            width: calc(100vw - 380px);
            height: -webkit-fill-available;


        }
    }
}