.Sentiment {
    width: 80%;
    margin: auto;
    margin-bottom: 70px;
    height: 100vh;
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  
    .header {
      height: 120px;
    color: #070da1;
      font-weight: 600;
      display: flex;
      align-items: flex-end;
      border-bottom: 1.5px solid #070da1;
      display: flex;
      justify-content: space-between;
      .text {
        font-size: 40px;
      }
      .refresh {
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 21px;
        margin-bottom: 10px;
        box-shadow:
          0 4px 6px rgba(0, 0, 0, 0.1),
          0 1px 3px rgba(0, 0, 0, 0.08);
        cursor: pointer;
        span {
          svg {
            margin-right: 5px;
          }
          .refresh_animate {
            animation: rotate 2s linear infinite;
          }
        }
      }
    }
    .sub_header {
      font-style: italic;
      margin-top: 2px;
      margin-bottom: 2px;
      font-size: 18px;
      color: #070da1;

    }
    .dec {
      border-radius: 21px;
      overflow: hidden;
      margin-top: 40px;
      padding: 40px;
      box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.08);
        background-color: #fff;
     .barchart {
      scale: .8;
      display: flex;
      justify-content: center;
      align-items: center;
     }
    }
  }
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .Sentiment {
      width: 90%;
      margin: auto;
      margin-bottom: 70px;
            margin-top: 0px;

      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    
      .header {
        height: 100px;
      color: #070da1;
        font-weight: 600;
        display: flex;
        align-items: flex-end;
        border-bottom: 1.5px solid #070da1;
        display: flex;
        justify-content: space-between;
        .text {
          font-size: 40px;
        }
        .refresh {
          display: flex;
          align-items: center;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
          justify-content: space-between;
          background-color: #fff;
          border-radius: 21px;
          margin-bottom: 10px;
          box-shadow:
            0 4px 6px rgba(0, 0, 0, 0.1),
            0 1px 3px rgba(0, 0, 0, 0.08);
          cursor: pointer;
          span {
            svg {
              margin-right: 5px;
            }
            .refresh_animate {
              animation: rotate 2s linear infinite;
            }
          }
        }
      }
      .sub_header {
        font-style: italic;
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 18px;
        color: #070da1;
  
      }
      .dec {
        border-radius: 21px;
        overflow: hidden;
        margin-top: 40px;
        padding: 40px;
        box-shadow:
          0 4px 6px rgba(0, 0, 0, 0.1),
          0 1px 3px rgba(0, 0, 0, 0.08);
          background-color: #fff;
       .barchart {
        scale: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
       }
      }
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 600px) {
    .Sentiment {
      width: 95%;
    margin-bottom: 30px;
    margin-top: 0px;

    .header {
      border-bottom: 1px solid #8a8a8a;
      height: 80px;

      .text {
        font-size: 30px;
      }
      .refresh {
        padding-left: 5px;
        padding-right: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: 21px;
        margin-bottom: 5px;
        font-size: 10px;
        span {
          svg {
            margin-right: 5px;
            scale: 0.7;
          }
        }
      }
    }
    .sub_header {
      margin-top: 1px;
      font-size: 12px;
    }
      .dec {
        margin-top: 15px;
        padding: 10px;
       .barchart {
        scale: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
       }
       .datagrid {
       }
      }
    }
  }