.Settings {
  width: 80%;
  margin: auto;
  margin-bottom: 70px;

  .header {
    height: 120px;
    color: #8a8a8a;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    border-bottom: 1.5px solid #8a8a8a;
    display: flex;
    justify-content: space-between;
    .text {
      font-size: 40px;
    }
  }
  .sub_header {
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 18px;
  }
}
